@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    background-color: white;
}

/* 500px 이하일때 */
@media screen and (max-width: 500px) {
    body {
        background-color: #effffd;
    }
    .App {
        
        
        width: 375px;
        background-color: white;
        border-left: 1px #464646 solid;
        border-right: 1px #464646 solid;
    }
}

#root {
    display: flex;
}

.App {
    min-height: 100vh;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}
