@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800&display=swap');

*  {
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  background-color: #EFFFFD;
  
}

@media (min-width: 375px) {
  .App {
    width: 375px;
    background-color: white;
    
    }
  }

#root {
  display: flex;
  
}

.App {
  min-height: 100vh;
  margin: 0;
}